.movie-list {
  color: turquoise;
  background: darkblue;
  text-shadow: 1px 1px 1px red, 0 0 1em blue, 0 0 0.2em blue;;
  text-align: center;
  border-style: inset;
  border-color: rgb(160, 65, 112);
}
.movie-title {
  color: darkblue;
  background: paleturquoise;
  text-align: center;
  border-style: outset;
  border-color: rgb(160, 65, 112);
  text-shadow: 1px 1px 1px red, 0 0 1em blue, 0 0 0.2em blue;;
}
.search {
  /* text-align: center */
  display: flex;
  justify-content: center;
}